.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
form, tui-textfield, button {
  width: 100%;
  margin-bottom: 1rem;
}

.join-room {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
